{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="ui message {{ category }} ">
        <button class="ui button icon right floated compact" onclick=($('.ui.modal').modal('hide'))><i class="ui icon close"></i></button>
        <h3 class="ui header large center aligned ">{{ message }}</h3>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
  <div class="ui message error">
    <button class="ui button icon right floated compact" onclick=($('.ui.modal').modal('hide'))><i class="ui icon close"></i></button>
    <h3 class="ui header large center aligned ">{{ error }}</h3>
  </div>
{% endif %}

{% if msg %}
  <div class="ui message success">
    <button class="ui button icon right floated compact" onclick=($('.ui.modal').modal('hide'))><i class="ui icon close"></i></button>
    <h3 class="ui header large center aligned ">{{ msg }}</h3>
  </div>
{% endif %}
