{% extends 'layout.html' %}
{% block body %}
<div class="ui segment blue inverted">
  <h1>Vendor Dashboard</h1>
  <div class="meta"><i>Logged in as  {{session.username}}</i></div>
  <div class="description">
    A list of Vendors entered in the meta data.
    Add a new entry, edit an existing entry or delete one.
  </div><br>
  <a class="ui button green compact" href="/add_vendor"> Add Vendor</a>
</div>

  <table class="ui sortable table very basic">
    <tr>
      <th></th>
      <th>ID</th>
      <th>Vendor Code</th>
      <th>Author</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    {% for vendor in vendors %}
      <tr>
        <td><a href="vendor/{{vendor.id}}"><i class="ui icon external"></i></a></td>
        <td>{{vendor.id}}</td>
        <td>{{vendor.title}}</td>
        <td>{{vendor.author}}</td>
        <td>{{vendor.create_date}}</td>
        <td><a href="edit_vendor/{{vendor.id}}" class="ui button compact pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('delete_vendor', id=vendor.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="ui button compact red">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
  <script>
   $('table').tablesort()
  </script>
{% endblock %}
