{% extends 'layout.html' %}

{% block body %}
<div class="ui segment green inverted">
  <h1 class="ui header aligned center">Data Source R&amp;U Dashboard</h1>
  <div class="description">
    A list of Data sources available in the Medical Data Hub.
    <p>View the pdf and click the "Read & Understand" acknowledgment, to get access.</p>
  </div>
</div>
<div class="ui segment">
  <div class="ui header">Data source Summary for user: <i class="ui label huge">{{session.userid}}</i></div>
  <table class="ui table very basic" id="access">
    <thead>
      <th>View R&amp;U</th>
      <th>Data Source</th>
      <th>Access</th>
      <th>Date Requested</th>
      <th>Status</th>
    </thead>
    {% for ds in datasource %}
      {% if ds[8]==1 %}
        <tr class="positive">{{ds[1]}}
      {% elif ds[6]==1 %}
        <tr class="warning">{{ds[1]}}
      {% else %}
        <tr>{{ds[1]}}
      {% endif %}
        {% if ds[8]==1 %}
          <td><a href="/request_access/{{ds[0]}}" title="Already granted!"><i class="ui icon file pdf outline large red"></i></a></td>
          <td>{{ds[1]}}</td>
          <td><i class="ui icon green unlock large"></i></td>
        {% elif ds[6]==1 %}
          <td><a href="/request_access/{{ds[0]}}" title="Already requested!"><i class="ui icon file pdf outline large red"></i></a></td>
          <td>{{ds[1]}}</td>
          <td><i class="ui icon red lock alternative large"></i></td>
        {% else %}
          <td><a href="/request_access/{{ds[0]}}" title="View the PDF!"><i class="ui icon file pdf outline large red"></i></a></td>
          <td>{{ds[1]}}</td>
          <td><i class="ui icon red lock alternative large"></i></td>
        {% endif %}
        {# REQUEST DATE #}
        {% if ds[5] == None %}
          <td>{{ds[5]}}</td>
        {% else %}
          <td>{{ds[5].strftime('%Y-%m-%d %H:%M:%S')}}</td>
        {% endif %}
        {# GRANT DATE #}
        {% if ds[8]==1 %}
          <td>Granted on
            {% if ds[7] == None %}
              <i>unknown date</i>
            {% else %}
              {{ds[7].strftime('%Y-%m-%d %H:%M:%S')}}
            {% endif %}
          </td>
        {% elif ds[6]==1 %}
          <td>Pending</td>
        {% else %}
          <td>-</td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
</div>

  <div class="ui basic modal" id="mod1">
    <div class="content">
      <div class="description">
          {% include 'includes/_messages.html' %}
      </div>
    </div>
  </div>
{% endblock %}
