{% extends 'layout.html' %}

{% block body %}

    {% for ds in datasource %}
      {{ds[0]}} <br>
this
{{ds['id']}}
{{ds['dbshortcode']}}
{{ds['pdfcode']}}
{{ds['create_date']}}
{{ds['userid']}}
{{ds['b.dbshortcode']}}
{{ds['request']}}
{{ds['requestdate']}}
{{ds['granted']}}
{{ds['granteddate']}}

    {% endfor %}
  

  <div class="ui basic modal" id="mod1">
    <div class="content">
      <div class="description">
          {% include 'includes/_messages.html' %}
      </div>
    </div>
  </div>
{% endblock %}
